.App {
  text-align: left;
}
*{
  box-sizing: border-box;
 } 
 
pre {
  background-color: white;
  position: relative;
  padding: 16px;
}

pre::before {
  content: "📋 Copy";
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  background-color: #ebebeb;
  cursor: pointer;
}

body {
  margin: 0;
  overflow: hidden;
}